<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veteran Medical Centers</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>

  <header>
    <h1>Veteran Medical Centers in Hawaii</h1>
  </header>

  <nav>
    <a href="index.html">Home</a>
    <a href="veteran_medical_centers.html">Veteran Medical Centers</a>
    <a href="outpatient_care.html">Outpatient Care Facilities</a>
    <a href="veteran_centers.html">Veteran Clinics</a>
    <a href="#">About</a>
    

  </nav>

  <main>
    <h2>Available Medical Centers</h2>
    <ul>
      <li>VA Pacific Islands Health Care System - Honolulu</li>
         <img src="va-medicalcenter.jpg" alt="VA Pacific Islands Health Care Center" class="responsive-img"/>
            <p>Address:  459 Patterson Road
             Honolulu, HI 96819-1522 </p>
              <p>Phone: (808) 433-0600</p>
      <li>Tripler Army Medical Center</li>
          <img src="tripler.jpg" alt="Tripler Army Medical Center" class="responsive-img"/>
            <p>Address: 1 Jarrett White Rd, Honolulu, HI 96859</p>
            <p>Phone: (808) 433-6661</p>

    </ul>
  </main>

  <footer>
    <p>&copy; 2025 Hawaii Veterans Resource Center</p>
  </footer>

</body>
</html>